* {
  color: white;
}
option {
  background-color: #000;
}
.body-gpa {
  background-image: linear-gradient(#ff5f6d, #ffc371);
  position: relative;
  min-height: 100vh;
}
nav.navbar {
  height: 10rem;
}
.navbar-brand img {
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}
ul.navbar-nav {
  position: absolute;
  right: 7rem;
}

li.nav-item {
  font-size: 1.1rem;
  margin-left: 2rem;
}
.dropdown-menu {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.menus {
  background-color: #ea5c2b;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-bottom: 0.5rem;
}
.menus:hover {
  background-color: #3e7c17;
}
.gpa-fields {
  margin-top: 3rem;
  text-align: center;
}
span.dropdown {
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 50px;
  display: inline-block;
  width: 30%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  color: #000;
}
span.dropdown-fields {
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 50px;
  display: inline-block;
  width: 30%;
  margin-left: 1.5rem;
  color: #000;
}
.dropdown-subjects {
  border-style: none;
  margin-left: 1rem;
}
.dropdown-credits {
  width: 25%;
  border: none;
  border-bottom-style: solid;
  border-bottom-color: #000;
  border-bottom-width: 2px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #000;
}
.dropdown-credits:focus {
  outline: none;
  width: 25%;
  border: none;
  border-bottom-style: solid;
  border-bottom-color: #000;
  border-bottom-width: 2px;
  color: #000;
}
.dropdown-grades {
  width: 25%;
  border: none;
  border-bottom-style: solid;
  border-bottom-color: #000;
  border-bottom-width: 2px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #000;
}
.dropdown-grades:focus {
  outline: none;
  width: 25%;
  border: none;
  border-bottom-style: solid;
  border-bottom-color: #000;
  border-bottom-width: 2px;
}
.grades {
  margin-left: 2rem;
  color: #000;
}
.input-fields {
  box-sizing: unset;
}
span.dropdown-credits-box {
  color: #000;
}
select.dropdown-subjects {
  background-image: linear-gradient(#ff5f6d, #ffc371);
}
input.dropdown-credits {
  background-image: linear-gradient(#ff5f6d, #ffc371);
}
input.dropdown-grades {
  background-image: linear-gradient(#ff5f6d, #ffc371);
}
.btn-submit {
  margin-bottom: 3rem;
}
.gpa-val-box,
.save-close-box {
  border-style: solid;
  background-color: orange;
  border-width: 0px;
  border-radius: 25px;
  display: inline-block;
  height: 7rem;
  width: 15%;
}
#input-save-name {
  display: none;
}
.save-close-box {
  display: none;
}
.footer {
  position: absolute;
  text-align: center;
  bottom: 0px;
  width: 100%;
  height: 5rem;
  background-color: #000;
}

.footer p {
  margin-top: 25px;
  font-size: 1rem;
  color: #fff;
}
